.btn-video {
    background-color: #ffffff;
    color: #{$brand-secondary};
    font-weight: 500;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 12px;
    &:hover {
        text-decoration: none;
    }

    &.btn-white {
        background-color: #{$brand-secondary};
        color: #ffffff;
    }

    &.btn-red {
        background-color: #{$brand-primary};
        color: #FFFFFF;
    }
}

.btn-primary {

    &:hover {
        cursor: pointer;
    }
}