/*************************** Calendar Top Navigation **************************/
#calendar {
    float: right;
    width: 100%;
    border-right: 1px solid #{$brand-primary};
    border-bottom: 1px solid #{$brand-primary};
    font-weight: 500;
    margin-top: 32px;
}
#calendar .calendar_box {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
}
#calendar .calendar_header {
    line-height: 40px;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #{$brand-primary};
    text-transform:uppercase;
}
#calendar .calendar_header .calendar_prev, #calendar .calendar_header .calendar_next {
    position: absolute;
    top: 0px;
    height: 17px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
}
#calendar .calendar_header .calendar_title {
    color: #FFF;
    font-size: 16px;
}
#calendar .calendar_header .calendar_prev {
    left: 15px;
}
#calendar .calendar_header .calendar_next {
    right: 15px;
}
/*************************** Calendar Content Cells ***************************/
#calendar .calendar_content {

}
#calendar .calendar_label {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#calendar .calendar_label .calendar_names {
    margin: 0px;
    padding: 0px;
    float: left;
    list-style-type: none;
    width: calc(100% / 7);
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    color: #4f4f4f;
    font-size: 16px;
    background-color: #e0d7d9;
    border-left: 1px solid #{$brand-primary};
}
#calendar .calendar_dates {
    float: left;
    margin: 0px;
    padding: 0px;
}
/** overall width = width+padding-right **/
#calendar .calendar_dates .calendar_names, #calendar .calendar_dates .calendar_days, #calendar .calendar_dates .calendar_today {
    margin: 0px;
    padding: 0px;
    line-height: 50px;
    vertical-align: middle;
    float: left;
    list-style-type: none;
    width: calc(100% / 7);
    height: 50px;
    font-size: 16px;
    color: #4f4f4f;
    text-align: center;
    border-left: 1px solid #{$brand-primary};
    border-top: 1px solid #{$brand-primary};
}
#calendar .calendar_dates .calendar_today {
}
:focus {
    outline: none;
}
.calendar_clear {
    clear: both;
}

.has-events {
    background: #{$brand-primary};
    a {
        display: inline-block;
        width: 100%;
        height: 100%;
        color: #fff;

        &:hover {
            text-decoration: none;
        }
    }
}