@font-face {
    font-family: 'Din';
    src: url('../fonts/din-light-webfont.woff2') format('woff2'),
    url('../fonts/din-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Din';
    src: url('../fonts/dinbold-webfont.woff2') format('woff2'),
    url('../fonts/dinbold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Din';
    font-style: normal;
    font-weight: normal;
    src: local('DIN-Regular'), url('../fonts/din-regular.woff') format('woff');
}

@font-face {
    font-family: 'Din';
    src: url('../fonts/din-medium-webfont.woff2') format('woff2'),
    url('../fonts/din-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}