body {
    font-family: 'Muli', sans-serif;
    font-size: 72%;
}

.line {
    height: 1px;
    border-bottom: 1px solid #{$brand-primary};
    width: 100%;
    margin-bottom: 32px;
}

.alert-warning {
    background-color: #{$brand-primary};
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    padding: 25px 0;
    margin: 0;
}

a {
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

.col-md-push-12 {
    left: 100%;
}
.col-md-push-11 {
    left: 91.66666667%;
}
.col-md-push-10 {
    left: 83.33333333%;
}
.col-md-push-9 {
    left: 75%;
}
.col-md-push-8 {
    left: 66.66666667%;
}
.col-md-push-7 {
    left: 58.33333333%;
}
.col-md-push-6 {
    left: 50%;
}
.col-md-push-5 {
    left: 41.66666667%;
}
.col-md-push-4 {
    left: 33.33333333%;
}
.col-md-push-3 {
    left: 25%;
}
.col-md-push-2 {
    left: 16.66666667%;
}
.col-md-push-1 {
    left: 8.33333333%;
}
.col-md-push-0 {
    left: auto;
}

.page-template-template-products, .tax-catalogue {
    .line {
        display: none;
    }
}

.fil {
    color: #{$brand-primary};
    margin-bottom: 40px;
    background-color: #f4f4f4;
    border-color: #dcdcdc;
    border-radius: 3px;
    padding: 10px;
    span {
        font-weight: 500;
        color: #{$brand-primary};
    }

    a {
        text-decoration: none;
        span {
            font-weight: normal;
            text-decoration: none;
        }
    }

    .post {
        border: none;
    }
}

.mc4wp-response {
    .mc4wp-alert {
        color: green;
        &.mc4wp-error {
            color: red;
        }

        p {
            margin: 0;
            padding-left: 5px;
        }
    }
}