// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$grid-gutter-width-base: 6px;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1040px
);

// Colors
$brand-primary:         #e30044;

$images-path: '../images/';

$brand-secondary: #afb0af;

$red_hover: #97002d;