#timeline {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;

    .date-wrapper {
        width: 900px;
        margin: 0 auto;
        height: 64px;
        box-shadow: 0 1px 3px rgba(255,4,55,0.12), 0 1px 2px rgba(255,4,255,0.24);
        overflow: hidden;
    }
}
#dates {
    width: 800px;
    height: 60px;
    overflow: hidden;
}
#dates li {
    list-style: none;
    float: left;
    width: 100px;
    height: 60px;
    font-size: 24px;
    text-align: center;
}

#timeline {
    .content-chrono {
        margin-top: 40px;
        color: #4f4f4f;
        font-size: 16px;
    }
}

.page-content {
    color: #4f4f4f;
    font-size: 16px;
    margin-bottom: 40px;
}

#dates a {
    line-height: 38px;
    height: 60px;
    width: 100px;
    color: rgba(225, 4, 55, 0.59);
    font-size: 26px;
    display: block;
    position: relative;

    .layer {
        position: absolute;
        bottom: 0;
        left: calc(50% - 7px);
        height: 14px;
        width: 14px;
        background-color: rgba(255, 4, 55, 0.59);
        bottom: 10px;
        border-radius: 50%;
    }

    &.selected {
        color: #{$brand-primary};
        .layer {
            background-color: #{$brand-primary};
        }
    }

    &:hover {
        text-decoration: none;
    }
}
#dates .selected {
    font-size: 32px;
}

#issues {
    width: 100%;
    overflow: hidden;
}
#issues li {
    width: 800px;
    list-style: none;
    float: left;
}

#issues li img {
    float: left;
    margin: 10px 30px 10px 50px;
}

#next,
#prev {
    position: absolute;
    color: #{$brand-primary};
    font-size: 50px;
}

#next {
    top: -13px;
    left: 8px;
}

#prev {
    top: -13px;
    right: 8px;
}

#next.disabled,
#prev.disabled {
    opacity: 0;
}