.content-info {
    background-color: #{$brand-primary};
    padding: 20px 0 0;
    margin-top: 130px;

    @media only screen
    and (max-device-width : 736px) {
        margin-top: 0;
    }

    h4 {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 16px;
        text-align: center;
    }
    .informations {
        color: #ffffff;
        text-align: justify;
        margin: 0;
        width: 90%;
        font-size: 12px;

        @media only screen
        and (max-device-width : 736px) {
            width: 100%;
            padding: 0 20px;
        }
    }

    .menu-action-footer {
        ul {
            list-style: none;
            .menu-item {
                padding-bottom: 5px;
            }
            a {
                font-weight: 700;
                color: #ffffff;
            }
        }

        @media only screen
        and (max-device-width : 736px) {
            text-align: center;
            margin: 20px 0;
        }
    }
    .main-footer-nav {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: left;
            padding-left: 20px;

            @media only screen
            and (max-device-width : 736px) {
                text-align: center;
                padding: 0;
            }

            li {
                margin-bottom: 10px;
                a {
                    color: #ffffff;
                    text-transform: uppercase;
                    font-size: 11px;
                    text-align: left;
                    font-weight: 500;
                }
            }
        }
    }
    .product-title {
        text-align: left;
        margin-left: 70px;

        @media only screen
        and (max-device-width : 736px) {
            display: none;
        }
    }
    .secondary-footer-nav {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            margin-left: 70px;

            @media only screen
            and (max-device-width : 736px) {
                margin: 0;
                text-align: center;
            }

            li {
                a {
                    font-weight: 300;
                    color: #ffffff;

                    @media only screen
                    and (max-device-width : 736px) {
                        font-size: 11px;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                    }
                }

                @media only screen
                and (max-device-width : 736px) {
                    margin-bottom: 20px;
                }
            }
        }

        @media only screen
        and (max-device-width : 736px) {
            background: #97002d;
            padding: 20px 0 1px;
        }
    }

    .menu-action-terms {
        background: #ffffff;
        padding: 10px 0;

        .baseline {
            text-transform: uppercase;
            color: #{$brand-primary};
            margin: 0;
            font-size: 14px;
            padding-top: 4px;
        }

        .news {
            text-transform: uppercase;
            color: #{$brand-primary};
            margin: 0;
            font-size: 14px;
            padding-top: 4px;
        }

        form {
            float: left;
            margin-left: 10px;
            border: 1px solid #{$brand-primary};
            input {
                float: left;
                border: none;
                padding: 0 4px;
                height: 30px;
                width: 200px;

                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: #{$brand-primary};
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    color: #{$brand-primary};
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    color: #{$brand-primary};
                }
                &:-moz-placeholder { /* Firefox 18- */
                    color: #{$brand-primary};
                }
            }

            .btn-news {
                background-color: #ffffff;
                font-weight: 700;
                color: #c10044;
                border: none;
                height: 30px;

            }
        }

        .newsletter-content {
            @media only screen
            and (max-device-width : 736px) {
                left: 0;
            }
        }

        .newsletter-form {
            @media only screen
            and (max-device-width : 736px) {
                left: 0;

                form {
                    float: none;
                    width: 230px;
                    margin: 20px auto;
                }
            }
        }

        @media only screen
        and (max-device-width : 736px) {
            left: 0;
            margin: 0 -3px;
            margin-bottom: 5px;
        }
    }

    .legal {
        margin-top: 10px;
        text-align: center;
        color: #ffffff;
        font-size: 12px;
        a {
            text-decoration: underline;
            color: #ffffff;
        }

        @media only screen
        and (max-device-width : 736px) {
            font-size: 10px;
            padding: 0 10px;
        }
    }

    .block-insta {
        width: 100%;

        @media only screen
        and (max-device-width : 736px) {
            width: 340px;
        }
    }

    .products-footer {
        float: left;
        width: 21%;

        @media only screen
        and (max-device-width : 736px) {
            width: 100%;
        }
    }

    .social-footer {
        float: left;
        width: 20%;

        @media only screen
        and (max-device-width : 736px) {
            width: 100%;
        }

        .block-insta {
            margin-top: 20px;
        }
    }

    #about-text {
        @media only screen
        and (max-device-width : 736px) {
            display: none;
        }
    }

    .more-link {
        @media only screen
        and (min-device-width : 736px) {
            display: none;
        }

        color: #FFFFFF;
        display: block;
        text-align: center;
        margin-bottom: 20px;

        .fa {
            display: block;
        }
    }

    .displayed-text {
        @media only screen
        and (max-device-width : 800px) {
            margin: 0;
        }
    }
}