/* Icon 1 */

#nav-icon3 {
    width: 32px;
    height: 26px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 5;

    @media only screen
    and (min-device-width : 736px) {
        display: none;
    }
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #{$brand-primary};
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon3 {
    &.open {
        span {
            background: #ffffff;
        }
    }
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 9px;
}

#nav-icon3 span:nth-child(4) {
    top: 18px;
}


#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}


#slider-menu {
    background-color: #{$brand-primary};
    z-index: 1;
    overflow-y: scroll;
    .navigation {
        margin-top: 50px;
        text-align: left;
        padding: 0 50px;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                a {
                    color: #ffffff;
                    font-size: 18px;
                }
            }
        }

        .menu-item-type-custom {
            margin-top: 20px;
            text-transform: uppercase;
            font-size: 18px;
            color: #ffffff;
            .sub-menu {
                text-transform: none;
                margin-bottom: 20px;
            }
        }

        .menu-item-266 {
            margin-top: 20px;
        }
    }

    @media only screen
    and (min-device-width : 736px) {
        display: none;
    }
}

header {
    margin: 32px 0;

    .logo-wrapper {
        @media only screen
        and (max-device-width : 736px) {
            text-align: left;
        }
    }
    .brand {
        .logo {
            width: 80%;
        }
    }

    .menu-button {
        float: left;
        padding-top: 16px;
        position: relative;
    }

    .top-nav {
        padding: 0;
        margin: 16px 0 0 0;
        list-style: none;
        float: right;
        .item {
            float: left;

            &.twitter {
                margin-left: 3px;
            }

            &.fb {
                margin-left: 30px;
            }
        }

        .account {
            a {
                margin-top: 3px;
                display: inline-block;
            }

            position: relative;



            &:hover {
                .submenu {
                    display: block;
                }
            }
        }
    }

    $burger--thickness: 2px;



    // * * * Navigation * * *
    $navigation__transition: max-height 0.5s ease-in-out;

    .navigation {

        @media only screen
        and (max-device-width : 736px) {
            display: none;
        }

        margin-top: 0;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            float: left;

            li {
                padding: 0;
                display: inline-block;
                -webkit-transition: box-shadow 500ms ease-in-out;
                -moz-transition: box-shadow 500ms ease-in-out;
                -ms-transition: box-shadow 500ms ease-in-out;
                -o-transition: box-shadow 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out;
                &:hover {
                    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                    -webkit-transition: none;
                    -moz-transition: none;
                    -ms-transition: none;
                    -o-transition: none;
                    transition: none;
                    cursor: pointer;
                }
                a {
                    font-size: 14px;
                    padding: 13px 10px;
                    display: inline-block;
                    font-weight: 300;

                    &:hover {
                        text-decoration: none;
                        cursor: pointer;
                    }
                }

                &.menu-item-object-custom {
                    padding: 13px 10px;
                    display: inline-block;
                    font-weight: 300;
                    color: #e30044;
                    font-size: 14px;
                    &:hover {
                        color: #97002d;
                    }
                }

                .current-menu-item {
                    a {
                        text-decoration: underline;
                    }
                }

                &.current-menu-item, &.current-menu-ancestor {
                    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                    color: #{$red_hover};
                    > a {
                        color: #{$red_hover};
                    }
                }
            }

            .sub-menu {
                position: absolute;
                opacity: 0;
                top: 43px;
                left: -9000px;
                margin: 0;
                padding: 0;
                z-index: 1000;
                background-color: #FFFFFF;
                box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 3px 2px rgba(0,0,0,0.24);
                padding: 15px;
                .item-create {
                    margin-bottom: 12px;
                }

                -webkit-transition: opacity 500ms ease-in-out;
                -moz-transition: opacity 500ms ease-in-out;
                -ms-transition: opacity 500ms ease-in-out;
                -o-transition: opacity 500ms ease-in-out;
                transition: opacity 500ms ease-in-out;

                width: 200px;
                .sub-menu {
                    position: relative;
                    border: none;
                    list-style: circle;
                    padding: 0;
                    padding-left: 20px;
                    display: block;
                    position: inherit;
                    box-shadow : none;
                    top: 0px;
                    left: 0!important;
                    li {
                        list-style: circle;
                        margin: 5px 0;
                        padding: 0;
                        a {
                            padding: 0;
                            text-decoration: none;
                        }
                    }

                    width: 172px;
                    margin-bottom: 10px;
                }

                li {
                    padding: 0;
                    display: block;
                    margin: 5px 0;

                    &:hover {
                        box-shadow: none;
                    }

                    a {
                        padding: 0;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    &.current-menu-item, &.current-menu-ancestor {
                        box-shadow: none;
                    }
                }

                .menu-item-has-children {
                    color: #e30044;
                }
            }
        }

        .menu-item-has-children {
            position: relative;
            &:hover {
                .sub-menu {
                    opacity: 1;
                    left: 0px;
                    -webkit-transition: opacity 500ms ease-in-out;
                    -moz-transition: opacity 500ms ease-in-out;
                    -ms-transition: opacity 500ms ease-in-out;
                    -o-transition: opacity 500ms ease-in-out;
                    transition: opacity 500ms ease-in-out;
                }
            }
        }
    }

    .social {
        width: 20px;
        float: right;
        margin-top: 13px;
        &.fb {
            margin-right: 10px;
        }
    }
}

.nav-account {
    float: right!important;
}

.social-network {
    float: right!important;
}

.heading-1 {
    @media only screen
    and (max-device-width : 736px) {
        font-weight: 700;
        text-transform: uppercase;
    }
}

.heading-2 {
    @media only screen
    and (max-device-width : 736px) {
        font-weight: normal;
        text-transform: uppercase;
    }
}

.heading-3 {
    @media only screen
    and (max-device-width : 736px) {
        font-weight: normal;
        text-transform: none;
    }
}

.mag-item {
    @media only screen
    and (max-device-width : 736px) {
        margin-bottom: 20px;
    }
}