.slider {
    margin-bottom: 6px;
}

.home {
    .categories {
        .home-category {
            padding-right: 3px;
            padding-left: 3px;
        }
    }
}

.categories {
    .home-category {

        @media only screen
        and (max-device-width : 736px) {
            width: 100%;
            padding: 0;
        }

        float: left;
        width: 25%;
        padding: 0 6px 0 0;
        margin-bottom: 6px;
        .content {
            height: 407px;
            width: 100%;
            -webkit-background-size: cover!important; /* pour anciens Chrome et Safari */
            background-size: cover!important; /* version standardisée */
            position: relative;

            @media only screen
            and (max-device-width : 736px) {
                background-position: center center!important;
            }

            .layer {

                @media only screen
                and (max-device-width : 736px) {
                    opacity: 1;
                    height: 80px;
                }

                opacity: 0;
                position: absolute;
                transition:opacity 0.3s linear;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(227, 0, 68, 0.59);

                .title {
                    color: #ffffff;
                    font-weight: 400;
                    text-transform: uppercase;
                    text-align: center;
                    margin-top: 186px;
                    font-size: 24px;

                    @media only screen
                    and (max-device-width : 736px) {
                        line-height: 80px;
                        margin-top: 0;
                    }
                }
            }
        }

        .link-category {
            &:hover {
                .layer {
                    opacity: 1;
                }
            }
        }

        &.accessoires {
            width: 100%;
            height: 277px;
            padding: 0;
            margin-top: 3px;
            .content {
                height: 277px;

                .layer {
                    .title {
                        margin-top: 113px;

                        @media only screen
                        and (max-device-width : 736px) {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }

    .category-socials {
        .content {
            background-color: #97b5ce;
            text-align: center;
            .socials-list {
                list-style: none;
                margin: 0;
                padding: 0;
                padding-top: 127px;
                li {
                    margin-bottom: 20px;
                    a {
                        width: 50px;
                        display: inline-block;
                        transition:background 0.2s linear;
                    }
                }
            }

            .fb {
                height: 50px;
                background: url('#{$images-path}icon-fb-circle-white.png');
                &:hover {
                    background: url('#{$images-path}icon-fb-circle-red.png');
                }
            }

            .twitter {
                height: 51px;
                background: url('#{$images-path}icon-twitter-circle-white.png');
                display: inline-block;

                &:hover {
                    background: url('#{$images-path}icon-twitter-circle-red.png');
                }
            }

            .instagram {
                height: 52px;
                background: url('#{$images-path}icon-instagram-circle-white.png');

                &:hover {
                    background: url('#{$images-path}icon-instagram-circle-red.png');
                }
            }
        }
    }
}

.products {
    display: block;
    width: 100%;
    height: 300px;
    background: url('#{$images-path}bg-product.jpg');
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    position: relative;
    margin-bottom: 3px;
    .layer {
        opacity: 0;
        position: absolute;
        transition:opacity 0.3s linear;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(227, 0, 68, 0.59);

        .title {
            color: #ffffff;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            margin-top: 138px;
            font-size: 35px;
        }
    }

    &:hover {

        .layer {
            opacity: 1;
        }
    }
}
