.page-header {
    h1, .page-title {

        text-align: left;
        color: #616161;
        font-size: 24px;
        margin: 0 0 20px 0;
        font-weight: 700;

        @media only screen
        and (max-device-width : 736px) {
            margin-left: 20px;
        }
    }
}

.page-template-default {
    .email, .address, .zip {
        color: #c10044;
    }

    .name {
        font-weight: 700;
        color: #4f4f4f;
    }

    .wrapper-bordered {
        padding: 30px 0;
        border-bottom: 1px solid #c10044;
        border-top: 1px solid #c10044;

        p {
            margin: 0;
        }
    }

    table {
        border: 1px solid #c10044;

        td {
            padding: 20px;
            border: 1px solid #c10044;
        }
    }

    .red {
        color: #c10044;
        font-weight: 700;
    }

    .bold {
        font-weight: 700;
    }
}

.page-template-default {
    .main {

        p {
            color: #4f4f4f;
            font-size: 14px;
        }

        blockquote {
            width: 500px;
            margin: 30px auto;
            p {
                font-size: 22px;
                text-align: center;
                position: relative;

                &:before {
                    content: '';
                    width: 37px;
                    height: 30px;
                    background: url('../images/blockquote-left.png') no-repeat;
                    position: absolute;
                    top: 0;
                    left: -47px;
                }

                &:after {
                    content: '';
                    width: 37px;
                    height: 30px;
                    background: url('../images/blockquote-right.png') no-repeat;
                    position: absolute;
                    bottom: 0;
                    right: -47px;
                }
            }
        }
    }

    h2 {
        color: #{$brand-primary};
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        margin: 30px 0;
    }
}

.page-template-template-marque {
    h2 {
        color: #{$brand-primary};
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        margin: 30px 0;
    }
    .page-header {
        .page-title {
            color: #{$brand-primary};
            font-size: 18px;
            text-transform: uppercase;
            text-align: center;
            font-weight: 700;
        }
    }
}

.inscription {
    label {
        margin-top: 10px;
        padding-left: 5px;
        font-weight: bold;
    }
}