.link-to-post {
    color: inherit;
    &:hover {
        text-decoration: none;
        color: inherit;
        article {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
    }
}

article {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.post {
    margin-bottom: 6px;

    .page-header {
        margin: 0;
    }

    .post-header {
        margin: 0 0 16px 0;
        .entry-title {
            margin: 0;
            color: #e10437;
            font-size: 25px;
            height: 55px;
            a {
                margin: 0;
                color: #e10437;
                font-size: 25px;

                &:hover {
                    color: #{$red_hover};
                    text-decoration: none;
                }
            }
        }

        .entry-date {
            font-size: 17px;
            color: #{$brand-primary};
            margin-top: 5px;
            margin-left: 5px;
        }

        .simplesocialbutton {
            display: inline-block;

            &.ssb-button-fblike {
                width: 112px;
            }
        }
    }

    .post-thumbnail {
        img {
            width: 100%;
            height: auto;
        }
    }

    .entry-summary {
        text-align: justify;

        .moretag {
            display: block;
            text-align: right;
            text-decoration: underline;
            color: #{$brand-primary};
        }

        p {
            margin: 0;
        }
    }
}
.type-post {
    &.hentry {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        padding: 20px;
    }

    .post-thumbnail {
        text-align: center;
        img {
            width: auto;

            @media only screen
            and (max-device-width : 736px) {
                width: 100%;
            }
        }
    }

    .entry-title {
        text-align: center;
    }

}

.type-livre {
    color: #616161;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 15px;
    margin: 3px 0;
    header {
        margin: 0;
    }

    .post-thumbnail {
        margin: 0;
        img {
            width: 100%;
            height: 225px;
        }
    }

    .entry-title {
        color: #{$brand-primary};
        font-weight: 500;
        text-align: center;
        font-size: 20px;
        margin: 0;
        margin-top: 10px;
    }

    .author {
        text-align: center;
        font-weight: 500;
    }

    .where {
        text-align: center;
        font-style: italic;
        font-weight: 300;
        margin: 0;
    }

    .entry-content {
        padding: 10px;
        padding-left: 19px;
        text-align: justify;
    }
}

.type-promotion {
    .post-thumbnail {
        position: relative;
        margin: 0;
        margin-bottom: 48px;
        img {
            width: 100%;
            height: auto;
        }

        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        .layer {
            @media only screen
            and (max-device-width : 736px) {
                display: none;
            }
        }

        &:hover {
            .layer {
                opacity: 1;
            }
        }
    }

    .promo-title {
        color: #ffffff;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        margin: 40px;
        display: inline-block;
        border-bottom: 1px solid #fff;
        padding-bottom: 10px;
        margin-bottom: 5px;
    }

    .dates {
        color: #ffffff;
        font-weight: 700;
        display: block;
        margin-left: 40px;
    }

    .content {
        color: #{$brand-primary};
        text-align: center;
        padding: 10px;
        width: 300px;
        margin: 50px auto;
        background-color: #ffffff;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    .layer {
        opacity: 0;
        position: absolute;
        transition:opacity 0.3s linear;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(227, 0, 68, 0.59);
    }
}

.term-catalogue {
    .image-wrapper {
        position: relative;
        margin-bottom: 6px;
        img {
            width: 100%;
        }

        .term-info {
            width: 200px;
            padding: 15px;
            position: absolute;
            top: 15px;
            left: 15px;
            border: 1px solid transparent;
            transition : border 0.3s linear;

            .title {
                color: #ffffff;
                font-size: 22px;
                text-transform: uppercase;
                border-bottom: 1px solid #ffffff;
                padding-bottom: 12px;
                margin-bottom: 12px;
                display: inline-block;
            }

            .description {
                opacity: 0;
                transition:opacity 0.3s linear;
                font-size: 12px;
                font-weight: 500;
                text-align: justify;

                @media only screen
                and (max-device-width : 736px) {
                    display: none;
                }
            }
        }
    }

    .term-link {
        color: #ffffff;
        &:hover {
            color: #ffffff;
            .term-info {
                border: 1px solid #ffffff;
                .description {
                    opacity: 1;
                }

                @media only screen
                and (max-device-width : 736px) {
                    border: none;
                }
            }
        }
    }
}

.post-product-list {
    .link-to-post {
        color: #ffffff;
    }

    img {
        width: 100%;
        height: auto;
    }

    article {
        margin-bottom: 7.5px;
        position: relative;
        .title-description {
            background-color: rgba(0, 0, 0, 0.29);
            margin: 0 auto;
            margin-top: 20px;
            width: 200px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            padding: 10px;
            font-weight: 700;
            .title {
                font-size: 25px;
                text-transform: uppercase;
                display: inline-block;
                border-bottom: 2px solid #ffffff;
                padding-bottom: 5px;
                margin-bottom: 10px;
            }

            .description-short {
                font-size: 13px;
                line-height: 17px;
                text-align: justify;
                font-weight: normal;
            }

            .price {
                font-size: 15px;
                margin-top: 5px;
            }
        }


        .cta {
            position: absolute;
            bottom: 0;
            right: 1px;
            background-color: #ffffff;
            text-transform: uppercase;
            color: #a9ab8f;
            font-weight: 700;
            font-size: 15px;
            padding: 5px;
        }



        .wrapper-info {
            transition:opacity 0.3s linear;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(169, 171, 143, 0.8);

            @media only screen
            and (max-device-width : 736px) {
                opacity: 1;
                background-color: rgba(169, 171, 143, 0.3);
            }
        }
    }

    a {
        color: #ffffff;

        &:hover {
            .wrapper-info {
                opacity: 1;
            }
        }
    }
}

.product-gamme {
    position: relative;
    .image-product-large {
        width: 100%;
        height: auto;
    }

    .product-left {
        position: absolute;
        top: 25px;
        left: 25px;
        width: 300px;
        color: #ffffff;

        @media only screen
        and (max-device-width : 736px) {
            position: initial;
            width: auto;
            margin: 20px;
        }

        .title {
            font-size: 20px;
            text-transform: uppercase;
            display: inline-block;
            padding-bottom: 10px;
            margin-bottom: 20px;
            border-bottom: 2px solid #{$brand-primary};
            font-weight: 700;
            color: #{$brand-primary};
        }

        .description {
            p {
                margin-bottom: 10px;
                color: #282828;
                font-size: 12px;
                line-height: 17px;
            }
        }

        .price {
            font-weight: 500;
            font-size: 18px;
            margin-top: 15px;
            color: #{$brand-primary};
        }
    }
}

.classic-product-page {
    .product-information-wrapper {
        @media only screen
        and (max-device-width : 736px) {
            left: 0;
            width: 100%;
        }
    }
    .image-gamme {
        margin-top: 40px;
        text-align: center;
    }

    .product-wrapper {
        margin-left: 150px;

        @media only screen
        and (max-device-width : 736px) {
            margin: 20px;
        }
    }

    .title {
        color: #{$brand-primary};
        padding: 5px;
        margin-bottom: 20px;
        border-bottom: 2px solid #{$brand-primary};
        display: inline-block;
        font-weight: 700;
    }

    .description {
        font-weight: 500;
    }

    .price {
        font-weight: 700;
        margin: 32px 0;
        font-size: 20px;
    }

    .main-slide {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

}

.agenda {
    .col-left {
        @media only screen
        and (max-device-width : 736px) {
            width: 10%!important;
            float: left;
        }
    }

    .col-right {
        @media only screen
        and (max-device-width : 736px) {
            width: 10%!important;
            float: right;
        }
    }

    .col-center {
        @media only screen
        and (max-device-width : 736px) {
            width: 80%!important;
            float: left;
            text-align: center;
        }
    }
    .category-agenda {

        margin: 0 0 6px 0;
        padding: 0;
        figure {
            margin: 0;
        }
        .attachment-post-thumbnail {
            width: 100%;
            height: auto;
        }

        border: 1px solid #{$brand-primary};

        .wrapper-entry {
            padding: 15px 15px 15px 0;

            p {
                margin: 0;
                font-size: 16px;
            }

            .entry-title {
                font-size: 16px;
                color: #{$brand-primary};
                text-transform: none;
                text-align: left;

            }
        }
    }
}

.page-template-template-events {
    article {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        margin-bottom: 7.5px;
    }

    figure {
        margin: 0;

        img {
            width: 100%;
            height: auto;
        }
    }

    .wrapper-entry {
        padding: 20px;
        .entry-title {
            margin: 0;
            color: #e10437;
            font-size: 25px;

            @media only screen
            and (max-device-width : 736px) {
                font-size: 18px;
            }
        }

        header {
            @media only screen
            and (max-device-width : 736px) {
                margin: 0;
            }
        }
    }

    .month-title {
        padding: 5px;
        text-transform: uppercase;
        color: #e10437;
        text-align: center;
        background-color: #ffffff;
        margin-bottom: 7.5px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        font-size: 20px;
        font-weight: 700;
        background-color: #f4f4f4;
        a {
            color: #e10437;
        }
        .fa-long-arrow-left {
            margin-left: 10px;
        }

        .fa-long-arrow-right {
            margin-right: 10px;
        }
    }
}

.banner-list-product {
    img {
        width: 100%;
    }

    margin-bottom: 6px;
}

.login-form-container {
    @media only screen
    and (max-device-width : 736px) {
        margin-bottom: 50px;
    }
    .col-md-push-4 {
        @media only screen
        and (max-device-width : 736px) {
            left: 0;
        }
    }

    .lost-password {
        margin: 15px 0;
    }
}