#wpsl-wrap {
    margin-bottom: 0;
    .map-area {
        float: left;
        width: 70%;

        @media only screen
        and (max-device-width : 736px) {
            width: 100%;
            float: none;
        }

        #wpsl-gmap {
            float: none;
            width: 100%;
            height: 550px!important;
        }
    }

    .right-col {
        float: right;
        width: 30%;
        color: #4f4f4f;
        padding: 0 20px;

        @media only screen
        and (max-device-width : 736px) {
            width: 100%;
            float: none;
            margin-top: 20px;
        }
        #wpsl-result-list {
            width: 100%;
            height: 500px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

            @media only screen
            and (max-device-width : 736px) {
                height: auto;
            }

            ul {
                li {
                    padding: 0;
                    margin: 15px;
                    margin-bottom: 0;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #{$brand-primary};

                    p {
                        margin: 0 0 3px;
                    }

                    &:hover {
                        padding: 15px;
                        background: #{$brand-primary};
                        margin: 0;
                        cursor: pointer;
                        color: #ffffff;
                        strong {
                            color: #ffffff;
                        }
                    }
                }

                a {
                    &:hover {
                        text-decoration: none;
                        color: #ffffff;
                    }
                }
            }

            .wpsl-store-location {
                strong {
                    text-transform: uppercase;
                    color: #{$brand-primary};
                    font-size: 20px;
                }
            }
        }

        .wpsl-search {
            margin: 0;
            padding: 0;
            background: none;
            text-align: center;

            #wpsl-search-input {
                width: 176px;
            }

            .wpsl-search-btn-wrap {
                #wpsl-search-btn {
                    border: none;
                    color: #ffffff;
                    display: block;
                    background: #{$brand-primary};
                    height: 34px;
                    margin-left: 10px;
                }
            }

            input, .wpsl-dropdown {
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                border: none;
                border-radius: 0;
            }

            .wpsl-select-wrap {
                margin-right: 0;

                div {
                    margin-right: 0;
                }
            }

            .wpsl-dropdown {
                .wpsl-selected-item {
                    padding: 9px 12px 10px 0!important;
                }

                div {
                    margin-right: 0;
                    border: 1px solid #{$brand-primary};

                    .wpsl-selected-dropdown {
                        color:  #{$brand-primary};
                    }
                }
                ul {
                    li {
                        &:hover {
                            color:  #{$brand-primary};
                            background: none;
                        }
                    }
                }
            }
        }
    }
}

.single-store {
    font-family: Arial;
    h1 {
        margin: 0;
        color: #616161;
        font-size: 30px;
    }

    p {
        font-size: 12px;
        margin: 0;
        color: #616161;
    }

    .cat-name {
        color: #{$brand-primary};
        margin: 5px 0;
        text-transform: uppercase;
        font-size: 15px;
    }

    .label {
        display: inline-block;
        width: 80px;
        font-weight: bold;
    }

    .hours-opening {
        margin: 15px 0;
    }

    .store-img {
        width: 100%;
        height: auto;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    .wraper-detail {
        padding-left: 50px;
    }

    .store-content {
        margin: 10px 0;
    }
}