.tax-categories-tuto {
    .col-right {
        padding-left: 0;
    }
    .post-thumbnail {
        img {
            width: 100%;
            height: auto;
        }
        margin: 0;
        position: relative;

        .layer-video {
            position: absolute;
            height: 100%;
            width: 100%;
            background: url('#{$images-path}/player.png') no-repeat center center;
            top: 0;
            left: 0;
        }
    }

    .entry-title {
        font-size: 18px;
        color: #{$brand-primary};
        text-align: center;
        margin-bottom: 20px;
        padding: 0 10px;
    }

    .img-star {
        width: 15px;
        height: 15px;
        margin-top: -5px;
    }

    .entry-content {
        padding: 10px;
        p {
            color: #616161;
            line-height: 18px;
            margin: 0;
        }
    }

    .subtitle {
        margin-top: 40px;
    }

    .entry-content {
        text-align: center;
    }
}

.single-tuto {

    .content-wrapper {
        padding: 0 20px 20px ;
    }

    .post-thumbnail, .information, .entry-content {
        float: left;
    }

    .post-thumbnail {
        width: 15%;
        img {
            width: 100%;
            height: auto;
        }

        @media only screen
        and (max-device-width : 736px) {
            width: 100%;
            display: none;
        }
    }

    .information {
        width: 35%;
        color: #616161;
        padding: 0 20px;
        border-right: 1px solid #{$brand-primary};

        @media only screen
        and (max-device-width : 736px) {
            width: 100%;
            padding: 0;
            border: none;
        }

        h1 {
            color: #{$brand-primary};
            font-size: 18px;
            margin: 0;
        }

        .img-star {
            width: 15px;
            height: 15px;
            margin-top: -5px;
        }

        p {
            color: #616161;
            line-height: 18px;
            font-size: 15px;
            height: 18px;
            margin: 0;
        }

        .subtitle {
            margin: 0 0 20px;
        }

        .fourniture {
            margin-top: 20px;
            text-decoration: underline;
            color: #{$brand-primary};
            font-weight: 700;
        }

        .fournitures-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .entry-content {
        width: 50%;
        padding-left: 20px;

        img {
            width: 100%;
        }

        @media only screen
        and (max-device-width : 736px) {
            width: 100%;
            padding: 0;
            margin-top: 20px;
        }
    }

    .article-wrapper {
        padding: 20px;
    }
}

.categorie-video-tutos {
    .tuto-category {
        .content {
            height: 180px;
            position: relative;
        }
        margin-bottom: 20px;
    }

    .title {
        text-align: center;
        text-transform: uppercase;
        margin-top: 70px;
    }

    .link-category {
        color: #ffffff;

        &:hover {
            text-decoration: none;

            .layer {
                opacity: 1;
            }
        }
    }

    .layer {
        opacity: 0;
        position: absolute;
        transition:opacity 0.3s linear;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(227, 0, 68, 0.59);

        @media only screen
        and (max-device-width : 736px) {
            opacity: 1;
        }
    }
}

.detail-tuto {
    padding: 20px 20px 0;

    .img-detail-tuto {
        width: 100%;
        box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
        transition: all .3s cubic-bezier(.25,.8,.25,1);
    }

    .bloc-info {
        padding-bottom: 20px;

        .description-left {
            padding: 20px 0 20px 20px;
        }

        .description-right {
            padding: 20px 20px 20px 0;
        }
    }
}

.tuto-step-title {
    color: #{$brand-primary};
    text-transform: uppercase;
    font-size: 18px;
}

.separator-tuto-step {
    width: 200px;
    margin: 0 auto;
    border-bottom: 1px solid #{$brand-primary};
    margin-bottom: 20px;
}

.term-tutos-machine {
    header {
        @media only screen
        and (max-device-width : 736px) {
            margin: 10px 0 0;
        }
    }

    .entry-content {
        @media only screen
        and (max-device-width : 736px) {
            margin-bottom: 20px;
        }
    }
}