.form-control {
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 0;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:focus {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    color: #4f4f4f;
    font-size: 12px;
}

.form-group {
    margin-bottom: 15px;
}

.error-account {
    background-color: #{$brand-primary};
    color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px;
    margin-bottom: 15px;

    a {
        color: #ffffff;
    }
}

.success-account {
    background-color: green;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px;
    margin-bottom: 15px;

    a {
        color: #ffffff;
    }
}

.account {

    h2 {
        text-transform: uppercase;
        margin: 0;
        text-decoration: underline;
        font-size: 14px;
        color: #4f4f4f;
        text-align: left;
        margin-bottom: 15px;
        margin-top: 40px;
    }

    .block {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        padding: 20px;
    }

    .garantie-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-size: 14px;
        margin-bottom: 10px;
    }
}
